<div id="movie-detail-modal" class="modal-header">
  <h4 class="modal-title" id="modal-title">Detalhes do filme</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container row pr-2">
    <div class="col-12">
      <ng-container *ngIf="hasPoster">
        <figure class="figure float-left mt-3 mx-3">
          <img
            [src]="movieDetail?.poster"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption text-center">
            Poster do filme {{ movieDetail?.title }}.
          </figcaption>
        </figure>
      </ng-container>

      <div class="row">
        <div class="col-12">
          <h1 class="text-center">{{ movieDetail?.title }}</h1>
          <hr class="my-2">
          <p class="text-justify">{{ movieDetail?.plot }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Fechar
  </button>
</div>
