<app-loader [loading]="loading">
  <div id="movie-detail-header" class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ 'Detalhes do filme' | uppercase }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row pr-2">
      <div class="col-12">
        <ng-container *ngIf="hasPoster">
          <figure class="figure float-left mt-3 mx-3">
            <img
              [src]="movieDetail?.poster"
              class="figure-img img-fluid rounded"
              alt="Poster do filme"
            />
            <figcaption class="figure-caption text-center">
              Poster do filme.
            </figcaption>
          </figure>
        </ng-container>

        <div class="row">
          <div class="col-12">
            <h2 class="text-center">
              {{ movieDetail?.title }} ({{ movieDetail?.year }})
            </h2>
            <hr class="my-2" />
            <p class="text-justify">{{ movieDetail?.plot }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <span class="font-weight-bold">Data de lançamento:</span>
        <span> {{ movieDetail?.released }}</span>
      </div>

      <div class="col-sm-12 col-lg-6">
        <span class="font-weight-bold">Tempo de duração:</span>
        <span> {{ movieDetail?.runtime }}</span>
      </div>

      <div class="col-sm-12 col-lg-6">
        <span class="font-weight-bold">Genero:</span>
        <span> {{ movieDetail?.genre }}</span>
      </div>

      <div class="col-sm-12 col-lg-6">
        <span class="font-weight-bold">Diretor:</span>
        <span> {{ movieDetail?.director }}</span>
      </div>

      <div class="col-sm-12 col-lg-6">
        <span class="font-weight-bold">Valor de Bilheteria:</span>
        <span> {{ movieDetail?.boxOffice }} </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="bnt-close"
      type="button"
      ngbAutofocus
      class="btn btn-secondary"
      (click)="close()"
    >
      Fechar
    </button>
  </div>
</app-loader>
