<div class="container px-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1 class="text-center font-weight-bold">Social Movies</h1>
      <span class="d-block text-center font-weight-bold mb-3">Todos os filmes em um só lugar!</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      <input
        id="ff-music-search"
        #search
        type="text"
        class="form-control"
        placeholder="Pesquise o filme:"
        [ngbTypeahead]="onSearch"
        [resultTemplate]="resultTemplate"
        (selectItem)="onSelect($event)"
      />
    </div>
  </div>
</div>

<ng-template #resultTemplate let-r="result" let-t="term">
  <div class="text-truncate" [style.width.px]="search.offsetWidth - 48">
    <ngb-highlight [result]="r?.title" [term]="t"></ngb-highlight>
  </div>
</ng-template>
